<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="service">
      <section name="server" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
  </configSections>
  <service>
    <server>
      <add key="port" value="9966" />
      <add key="username" value="admin" />
      <add key="password" value="admin" />
      <add key="monitor" value="true" />
    </server>
    <assmebly>
      <add key="Demo.Bll" value="Demo.Bll.dll" />
    </assmebly>
  </service>
</configuration>