<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="client">
      <section name="server" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
  </configSections>
  <client>
    <server>
      <add key="ip" value="192.168.72.120:9966" />
      <add key="mode" value="tcp" />
      <add key="pool" value="10" />
      <add key="username" value="admin" />
      <add key="password" value="admin" />
      <add key="monitor" value="true" />
      <add key="timeout" value="60" />
    </server>
    <relation>
      <add key="Demo.Model" value="Demo.Model.dll" />
    </relation>
  </client>

</configuration>